<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/style_back.css">
    <link rel="stylesheet" href="../Static/style_inicio.css">
    <link rel="icon" type="image/png" href="/Projetos_Pessoais.js/img/pngtree-pokemon-game-symbol-pikachu-play-picture-image_8234794.png">
    <script src="../JS/inicio.js" type="module" defer></script>
    <title>Kanto</title>
</head>
<body id="background">
    <h1 id="h1" >Pokedex National - Kanto</h1>
    
    <!-- Lista numerada -->
    <ol id="listpokemon" class="pokemon-list">
        <li id="bulbasaur">Bulbasaur</li>
        <li id="ivysaur">Ivysaur</li>
        <li id="venosaur">Venosaur</li>
        <li id="charmander">Charmander</li>
        <li id="charmeleon">Charmeleon</li>
        <li id="charizard">Charizard </li>
        <li id="squirtle">Squirtle</li>
        <li id="wartortle">Wartortle</li>
        <li id="blastoise">Blastoise</li>
        <li id="caterpie">Caterpie</li>
        <li id="metapod">Metapod</li>
        <li id="butterfree">Butterfree</li>
        <li id="weedle">Weedle</li>
        <li id="kakuna">Kakuna</li>
        <li id="beedrill">Beedrill</li>
        <li id="pidgey">Pidgey</li>
        <li id="pidgeotto">Pidgeotto</li>
        <li id="pidgeot">Pidgeot</li>
        <li id="rattata">Rattata</li>
        <li id="raticate">Raticate</li>
        <li id="spearow">Spearow</li>
        <li id="fearow">Fearow</li>
        <li id="ekans">Ekans</li>
        <li id="arbok">Arbok</li>
        <li id="pikachu">Pikachu</li>
        <li id="raichu">Raichu</li>
        <li id="sandshrew">Sandshrew</li>
        <li id="sandslash">Sandslash</li>
        <li id="nidoranf">Nidoran</li>
        <li id="nidorina">Nidorina</li>
        <li id="nidoqueen">Nidoqueen</li>
        <li id="nidoranm">Nidoran</li>
        <li id="nidorino">Nidorino</li>
        <li id="nidoking">Nidoking</li>
        <li id="clefairy">Clefairy</li>
        <li id="clefable">Clefable</li>
        <li id="vulpix">Vulpix</li>
        <li id="ninetales">Ninetales</li>
        <li id="jigglypuff">Jigglypuff</li>
        <li id="wigglytuff">Wigglytuff</li>
        <li id="zubat">Zubat</li>
        <li id="golbat">Golbat</li>
        <li id="oddish">Oddish</li>
        <li id="gloom">Gloom</li>
        <li id="vileplume">Vileplume</li>
        <li id="paras">Paras</li>
        <li id="parasect">Parasect</li>
        <li id="venonat">Venonat</li>
        <li id="venomoth">Venomoth</li>
        <li id="diglett">Diglett</li>
        <li id="dugtrio">Dugtrio</li>
        <li id="meowth">Meowth</li>
        <li id="persian">Persian</li>
        <li id="psyduck">Psyduck</li>
        <li id="golduck">Golduck</li>
        <li id="mankey">Mankey</li>
        <li id="primeape">Primeape</li>
        <li id="growlithe">Growlithe</li>
        <li id="arcanine">Arcanine</li>
        <li id="poliwag">Poliwag</li>
        <li id="poliwhirl">Poliwhirl</li>
        <li id="poliwrath">Poliwrath</li>
        <li id="abra">Abra</li>
        <li id="kadabra">Kadabra</li>
        <li id="alakazam">Alakazam</li>
        <li id="machop">Machop</li>
        <li id="machoke">Machoke</li>
        <li id="machamp">Machamp</li>
        <li id="bellsprout">Bellsprout</li>
        <li id="weepinbell">Weepinbell</li>
        <li id="victreebel">Victreebel</li>
        <li id="tentacool">Tentacool</li>
        <li id="tentacruel">Tentacruel</li>
        <li id="geodude">Geodude</li>
        <li id="graveler">Graveler</li>
        <li id="golem">Golem</li>
        <li id="ponyta">Ponyta</li>
        <li id="rapidash">Rapidash</li>
        <li id="slowpoke">Slowpoke</li>
        <li id="slowbro">Slowbro</li>
        <li id="magnemite">Magnemite</li>
        <li id="magneton">Magneton</li>
        <li id="farfetchd">Farfetch'd</li>
        <li id="doduo">Doduo</li>
        <li id="dodrio">Dodrio</li>
        <li id="seel">Seel</li>
        <li id="dewgong">Dewgong</li>
        <li id="grimer">Grimer</li>
        <li id="muk">Muk</li>
        <li id="shellder">Shellder</li>
        <li id="cloyster">Cloyster</li>
        <li id="gastly">Gastly</li>
        <li id="haunter">Haunter</li>
        <li id="gengar">Gengar</li>
        <li id="onix">Onix</li>
        <li id="drowzee">Drowzee</li>
        <li id="hypno">Hypno</li>
        <li id="krabby">Krabby</li>
        <li id="kingler">Kingler</li>
        <li id="voltorb">Voltorb</li>
        <li id="electrode">Electrode</li>
        <li id="exeggcute">Exeggcute</li>
        <li id="exeggutor">Exeggutor</li>
        <li id="cubone">Cubone</li>
        <li id="marowak">Marowak</li>
        <li id="hitmonlee">Hitmonlee</li>
        <li id="hitmonchan">Hitmonchan</li>
        <li id="lickitung">Lickitung</li>
        <li id="koffing">Koffing</li>
        <li id="weezing">Weezing</li>
        <li id="rhyhorn">Rhyhorn</li>
        <li id="rhydon">Rhydon</li>
        <li id="chansey">Chansey</li>
        <li id="tangela">Tangela</li>
        <li id="kangaskhan">Kangaskhan</li>
        <li id="horsea">Horsea</li>
        <li id="seadra">Seadra</li>
        <li id="goldeen">Goldeen</li>
        <li id="seaking">Seaking</li>
        <li id="staryu">Staryu</li>
        <li id="starmie">Starmie</li>
        <li id="mr-mime">Mr. Mime</li>
        <li id="scyther">Scyther</li>
        <li id="jynx">Jynx</li>
        <li id="electabuzz">Electabuzz</li>
        <li id="magmar">Magmar</li>
        <li id="pinsir">Pinsir</li>
        <li id="tauros">Tauros</li>
        <li id="magikarp">Magikarp</li>
        <li id="gyarados">Gyarados</li>
        <li id="lapras">Lapras</li>
        <li id="ditto">Ditto</li>
        <li id="eevee">Eevee</li>
        <li id="vaporeon">Vaporeon</li>
        <li id="jolteon">Jolteon</li>
        <li id="flareon">Flareon</li>
        <li id="porygon">Porygon</li>
        <li id="omanyte">Omanyte</li>
        <li id="omastar">Omastar</li>
        <li id="kabuto">Kabuto</li>
        <li id="kabutops">Kabutops</li>
        <li id="aerodactyl">Aerodactyl</li>
        <li id="snorlax">Snorlax</li>
        <li id="articuno">Articuno</li>
        <li id="zapdos">Zapdos</li>
        <li id="moltres">Moltres</li>
        <li id="dratini">Dratini</li>
        <li id="dragonair">Dragonair</li>
        <li id="dragonite">Dragonite</li>
        <li id="mewtwo">Mewtwo</li>
        <li id="mew">Mew</li>
    </ol>

    <!-- Barra lateral para exibir informações -->
    <div id="sidebar" class="sidebar">
        <img id="pokemonImage" src="" alt="Imagem do Pokémon">
        <p id="pokemonDescription" class="description"></p>
        <p id="pokemonType" class="pokemonType"></p>
    </div>

</body>
</html>
